<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
   <h1>Welcome to the text analyzer....Enter your text below</h1>
   <form action = "/analyze" method = "get">
    <textarea name = "text" style="width: 619px; height: 76px;">        
    </textarea><br>
    <input type = "checkbox" name = "removeFunc"> Remove Punctuations<br>
    <input type = "checkbox" name = "toupper"> TO UPPER CASE<br>
    <input type = "checkbox" name = "newliineremover"> New Lines Remover<br>
    <input type = "checkbox" name = "spaceremover"> Extra Space Remover<br>
    <input type = "checkbox" name = "charcount"> Characters Count<br>
    <button type = "submit">Analyze Text</button>
   </form>
</body>
</html>